<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <%= attachment_image_tag @player, :image, size:"300x300", class:"imagine" %>
        </div>
        <div class="col-lg-8">
            <%= @player.height %>
            <%= @player.weight %>
            <%= form_with model:@vote, url: votes_path do |f| %>
            <%= f.submit "vote" %>
            <% end %>
        </div>