<!DOCTYPE html>
<html>

<head>
    <title>NBAallstar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>
        <div class="year">2020 All-star</div>
        <div class="ver">|</div>
        <ul class="headerline">
            <% if user_signed_in? %>
            <li class="list"><%= link_to "Home", root_path %> </li>
            <li class="list"><%= link_to "Player", players_path %></li>
            <li class="list"><%= link_to "Vote", new_user_path %></li>
            <li class="list"><%= link_to "Log out", destroy_user_session_path, method: :delete %> </li>
            <% else %>
            <li class="list"><%= link_to "Home", root_path, class:"li" %></li>
            <li class="list"><%= link_to "Chicago Week", home_about_path, class:"li" %></li>
            <li class="list"><%= link_to "Sign up", new_user_registration_path,class:"li" %></li>
            <li class="list"><%= link_to "Sign in", new_user_session_path, class:"li"%></li>
            <% end %>
        </ul>
    </header>
    <%= yield %>
</body>

</html>